altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.3.2
docutils==0.21.2
idna==3.10
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==1.2.0
macholib==1.16.3
multitasking==0.0.11
packaging==24.1
pillow==10.4.0
plyer==2.1.0
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
requests==2.32.3
urllib3==2.2.3
